.create-number-btn {
  margin-bottom: 10px;

}

.winner-message {
  background-color: greenyellow;
}

.logs {
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 0px;
  width: 100%;
  max-width: 960px;
  height: 400px;
}